<form name="form_dk">
    <div class="card">
        <div class="card-header bg-warning">
            <h5 class="card-title text-white">Đăng ký</h5>
        </div>
        <div class="card-body">
            <div class="row mt-2">
                <div class="row mt-3">
                    <label for="tk" class="col-2">Tài khoản:</label>
                    <div class="col-10">
                        <input ng-model="user.username" class="form-control" required type="text"
                            name="tk" id="tk">
                        <small ng-hide="form_dk.tk.$untouched || form_dk.tk.$valid"
                            class="text-danger">
                            Không được để trống
                        </small>
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="mk" class="col-2">Mật khẩu:</label>
                    <div class="col-10">
                        <input ng-model="user.password" class="form-control" required
                            type="password" name="mk" id="mk">
                        <small ng-hide="form_dk.mk.$untouched || form_dk.mk.$valid"
                            class="text-danger">
                            Không được để trống
                        </small>
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="fullname" class="col-2">Họ tên:</label>
                    <div class="col-10">
                        <input ng-model="user.fullname" for="email" required type="text"
                            id="fullname" name="fullname" class="form-control">
                        <small ng-hide="form_dk.fullname.$untouched || form_dk.fullname.$valid"
                            class="text-danger">
                            Không được để trống
                        </small>
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="sdt" class="col-2">SĐT:</label>
                    <div class="col-10">
                        <input ng-model="user.sdt" for="text" required type="tel" id="sdt"
                            name="sdt" class="form-control">
                        <small ng-hide="form_dk.sdt.$untouched || form_dk.sdt.$valid"
                            class="text-danger">
                            Không được để trống
                        </small>
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="el" class="col-2">Email:</label>
                    <div class="col-10">
                        <input ng-model="user.email" type="email" required id="el" name="el"
                            class="form-control">
                        <div ng-hide="form_dk.el.$untouched || form_dk.el.$valid"
                            class="text-danger">
                            <small ng-show="form_dk.el.$error.required">
                                Không được để trống
                            </small>
                            <small ng-show="form_dk.el.$error.email">
                                Không dúng định dạng email
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">
                        <label for="gt">Giới tính:</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" ng-model="user.gioi_tinh" checked value="Nam"
                            ng-checked="sv.gioi_tinh == true" name="gioi_tinh" id="gt_nam" />
                        <label for="gt_nam" class="col-4">Nam</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" ng-model="user.gioi_tinh" value="Nu"
                            ng-checked="sv.gioi_tinh != true" name="gioi_tinh" id="gt_nu" />
                        <label for="gt_nu" class="col-4">Nữ</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button ng-click="" class="btn btn-primary">Đăng ký</button>
            <button class="btn btn-secondary">Đóng</button>
        </div>
    </div>
</form>